<h1>Add New Entry</h1>

<form action="/entries" method="post">
  <p>
    <label for="title">title</label>
    <input type="text" name="title">
  </p>

  <p>
    <label for="description">description</label>
    <input type="text" name="description">
  </p>

 <p>
    <label for="posted_on">date</label>
    <input type="date" name="posted_on">
 </p>

<input type="hidden" name="place_id" value="<%= @place["id"] %>">
  <button>Submit</button>
</form>